<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
	{{{body}}}

	<script type="text/javascript" src="/javascripts/script.js"></script>
</body>

</html>